apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: trino
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://trinodb.github.io/charts
    chart: trino
    targetRevision: 1.42.2
    helm:
      valuesObject:
        server:
          workers: 1
        additionalConfigProperties:
          - retry-policy=QUERY
        coordinator:
          jvm:
            maxHeapSize: 1G
          config:
            query:
              maxMemoryPerNode: 512MB
          resources:
            requests:
              cpu: "500m"
              memory: 1536Mi
            limits:
              memory: 1536Mi
          nodeSelector:
            workload-class: data
        worker:
          jvm:
            maxHeapSize: 1G
          config:
            query:
              maxMemoryPerNode: 512MB
          resources:
            requests:
              cpu: "500m"
              memory: 1536Mi
            limits:
              memory: 1536Mi
          nodeSelector:
            workload-class: data
        catalogs:
          memory: |-
            connector.name=memory
          pinot: |-
            connector.name=pinot
            pinot.controller-urls=pinot-controller.pinot.svc.cluster.local:9000
  destination:
    server: https://kubernetes.default.svc
    namespace: trino
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
